* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Keyboard */
  --linewidth: 78vh;
  --keybase: 1vh;
  --keytopmultiplier: 4;
  --keymultiplier: 5;
  --keyfontfamily: "sans";
  --keyfontsize: 3;
  --keycolor: #111;
  --keycapposition: 0.2vh;
  --keyborder: 0.8vh;
  --keyspacearound: 0.12vh;

  --keybgcolor: hsl(0, 0%, 92%);
  --keytopbgcolor: linear-gradient(to right, hsl(0, 0%, 90%), hsl(0, 0%, 98%));
  --keybordercolor: #ddd;

  /* Slider */
  --sliderwidth: 5vh; /* 30px */
  --sliderheight: 3vh; /* --sliderwidth / 2 + 4 = 19px */
  --sliderbefore: 2vh; /* --sliderwidth / 2 - 4 = 11px */
  --slidercontrol: 0.55vh; /* 4px; */
}

body {
  background-color: #c6c6c6;
  font-size: 0.8rem;
  font-family: var(--keyfontfamily);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.line {
  display: flex;
  justify-content: space-between;
  width: var(--linewidth);

  margin: var(--keyspacearound) 0;
}

.key {
  width: calc(var(--keybase) * var(--keymultiplier));
  height: calc(var(--keybase) * var(--keymultiplier));
  border: 1px solid var(--keybordercolor);
  border-radius: calc(var(--keyborder) + 0.4vh);

  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--keybgcolor); /* hsl(0, 0%, 92%); */

  transition: background-color 0.1s;
}

.keytop {
  height: calc(var(--keybase) * var(--keytopmultiplier));

  border: 1px solid var(--keybordercolor);
  border-radius: var(--keyborder);

  font-size: calc(var(--keyfontsize) * 0.6vh);
  font-family: var(--keyfontfamily);
  text-transform: uppercase;
  color: var(--keycolor);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  width: auto;
  left: calc(var(--keycapposition) + 0.2vh);
  right: calc(var(--keycapposition) + 0.2vh);

  top: var(--keycapposition);

  background: var(--keytopbgcolor);
  /* linear-gradient(to right, hsl(0, 0%, 90%), hsl(0, 0%, 98%)); */
  transition: background-color 0.1s;
}

.DoubleChar {
  font-size: calc(var(--keyfontsize) * 0.5vh);
}

.ModifierChar {
  font-size: calc(var(--keyfontsize) * 0.45vh);
  text-transform: none;
}

.key125 {
  width: calc(var(--keybase) * var(--keymultiplier) * 1.25);
}

.key150 {
  width: calc(var(--keybase) * var(--keymultiplier) * 1.5);
}

.key175 {
  width: calc(var(--keybase) * var(--keymultiplier) * 1.75);
}

.key200 {
  width: calc(var(--keybase) * var(--keymultiplier) * 2);
}

.key225 {
  width: calc(var(--keybase) * var(--keymultiplier) * 2.25);
}

.key275 {
  width: calc(var(--keybase) * var(--keymultiplier) * 2.75);
}

.key625 {
  width: calc(var(--keybase) * var(--keymultiplier) * 6.25);
}

.keyline {
  background-image: url("./line.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.keydot {
}

.line.switchcontainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.label {
  line-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(var(--keyfontsize) * 0.6vh);
}

/**** Slider ****/

.switch {
  position: relative;
  display: inline-block;
  width: var(--sliderwidth);
  height: var(--sliderheight);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--sliderbefore);
  width: var(--sliderbefore);
  left: var(--slidercontrol); /* 4px */
  bottom: var(--slidercontrol); /* 4px */
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f33a21;
}

input:focus:checked + .slider {
  box-shadow: 0 0 1px rgb(247, 190, 4);
}

input:focus + .slider {
  box-shadow: 0 0 1px #eee;
}

input:checked + .slider:before {
  transform: translateX(var(--sliderbefore));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--sliderheight);
}

.slider.round:before {
  border-radius: 50%;
}
